<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <div layout:fragment="head"></div>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <title>Ripe Tomatoes (Anime)</title>
</head>

<body><div layout:fragment="content" th:remove="tag">

    <h1>Query Database</h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Review</th>
        </tr>
        <tr th:each="anime: ${ar_query}">
            <td th:text="${anime.rank}"></td>
            <td th:text="${anime.name}"></td>
            <td th:text="${anime.rating}"></td>
            <td th:text="${anime.review}"></td>
        </tr>
    </table>

    <form method="POST">
        <label for="rank">Rank: </label>
        <input type="text" id="rank" name="rank">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <label for="rating">Rating: </label>
        <input type="text" id="rating" name="rating">
        <label for="review">Review: </label>
        <input type="text" id="review" name="review">
        <input type="submit" value="Submit">
    </form>

</div></body>

</html>