<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
  <meta charset="UTF-8">
  <title>Anime delete</title>
  <link th:href="@{/styles/styles.css}" rel="stylesheet" />

  <style>
    body { background-color: darkgray ;
    }
  </style>

</div></head>

<body><div layout:fragment="content" th:remove="tag">

  <h1>Query Database</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Rank</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Review</th>
    </tr>
    <tr th:each="anime: ${ar_query}">
      <td th:text="${anime.id}"></td>
      <td th:text="${anime.rank}"></td>
      <td th:text="${anime.name}"></td>
      <td th:text="${anime.rating}"></td>
      <td th:text="${anime.review}"></td>
    </tr>
  </table>

  <form method="POST">
    <label for="id">Id: </label>
    <input type="text" id="id" name="id">
    <input type="submit" value="Submit">
  </form>

  <a href="/ar2022/admin">Add</a>
  <a href="/ar2022/admin/edit">Edit</a>

</div></body>

</html>