<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

    <br>
    <h1>Billy's Page</h1>
<div>
    <a href="/imdb">IMDB API</a>
</div>
<div>
    <a href="/billyfrq">FRQ's</a>
<div>
    <a href="/billy/schedule">database</a>
</div>
    <div>
        <a href="/ar2022/admin">Ripe Tomatoes</a>
    </div>

    <div>
        <a href="https://github.com/ChiefGuap/p1-DataPirates/commits?author=BillyCherres">Github Code Commits</a>
    </div>
</body>
</html>
