<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

    <br>
    <h1>Billy's Page</h1>
<div>
    <a href="/imdb">IMDB API</a>
</div>
    <a href="/billyfrq">FRQ's</a>
</div>

</body>
</html>
