<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">

    <br>
    <h1>Dylan's Page</h1>
<div>
    <a href="/dylanfrq">FRQ's</a>
<div>
    <a href="https://github.com/dylanroman">GitHub</a>
</div>
    <div>
        <a href="https://github.com/ChiefGuap/p1-DataPirates/graphs/contributors">Insights</a>
    </div>
    <div>
        <a href="/ar2022/admin">Weekly Runtime</a>
    </div>
</body>

</html>
