<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Dylan FRQs</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7f43a63809.js" crossorigin="anonymous"></script>
</div></head>

<body style="background-color: rgb(63, 25, 25)"><div layout:fragment="content" th:remove="tag">
    <br><br>
    <h3 style="color: white;">Click the file icon on the left to view FRQs</h3>
    <center><iframe frameborder="0" width="95%" height="600px" src="https://replit.com/@DylanRoman/FRQs?lite=true"></iframe></center>
</div>
</body>
</html>
