<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Sam</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link th:href="@{/styles/sam.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7f43a63809.js" crossorigin="anonymous"></script>
</div></head>
<body><div layout:fragment="content" th:remove="tag">
    <center><div class="header">
        <img class="face" th:src="@{/images/sam.jpg}">
        <div class="header-text"><h2>Sam Koenig</h2>
        <p>P1-DataPirates Web Designer</p></div>
    </div></center>

    <center><div class="links">
        <center><a href="https://github.com/samkoenig9" style="text-decoration: none; color:black;" target="_blank" title="GitHub Profile"><i class="about-icons fab fa-github fa-2x"></i></a>
        <a href="https://docs.google.com/document/d/1mcRnMQT0GDW596qT5bl8U42L6-XRTjykO_ndIaXuAvc/edit?usp=sharing" style="text-decoration: none; color:black;" target="_blank" title="Journal"><i class="about-icons fas fa-book fa-2x"></i></a>
        <!-- <a href="https://docs.google.com/document/d/1mcRnMQT0GDW596qT5bl8U42L6-XRTjykO_ndIaXuAvc/edit#bookmark=id.vfw5ql5wcgle" style="text-decoration: none; color: black;" target="_blank"><i class="about-icons fa-solid fa-code fa-2x"></i></a>    -->
        </center>
        <a href="/sam_api" class="button btn btn-primary btn-lg">API</a>
        <br><a href="/sam_frq" class="button btn btn-primary btn-lg">FRQ</a>
        <br><a href="/sam/music" class="button btn btn-primary btn-lg">Database</a>
        <br><a href="#" class="button btn btn-primary btn-lg">Button</a>
    </div></center>

</div>
</body>
</html>