<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Search Bar</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <style>
        .search_style{
            padding-top: 100%;
        }
    </style>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <form role="search" id="form" class="search_style">
        <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
        <button>
            <svg viewBox="0 0 1024 1024"><path class="path1"></path></svg>
 </button>
    </form>
    <script>
        const f = document.getElementById('form');
        const q = document.getElementById('query');
        const google = 'localhost:8088/search';
        const site = 'movietalk.nighthawkcodingsociety.com';

        function submitted(event) {
            event.preventDefault();
            const url = google + site + '+' + q.value;
            const win = window.open(url, '_blank');
            win.focus();
        }

        f.addEventListener('submit', submitted);
    </script>


    <script src="https://kit.fontawesome.com/7f43a63809.js" crossorigin="anonymous"></script>
</div></head>

<body style="background-color: rgb(78, 78, 78);">

<div layout:fragment="content" th:remove="tag">
    <br><br>
    <h3 style="color: white;">Click the file icon on the left to view FRQs</h3>
    <center><iframe frameborder="0" width="95%" height="600px" src="https://replit.com/@WilliamCherres/frq-all-of-them?lite=true"></iframe></center>
</div>

</body>

</html>