<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Search Bar</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <style>
        .search_style{
            padding-top: 10%;
        }
    </style>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <form role="search" id="form" class="search_style">
        <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
        <button>
            <svg viewBox="0 0 1024 1024"><path class="path1"></path></svg>
        </button>
    </form>
    <script>
        const f = document.getElementById('form');
        const q = document.getElementById('query');
        const google = 'https://www.google.com/search?q=site%3A+';
        const site = 'movietalk.nighthawkcodingsociety.com';

        function submitted(event) {
            event.preventDefault();
            const url = google + site + '+' + q.value;
            const win = window.open(url, '_blank');
            win.focus();
        }

        f.addEventListener('submit', submitted);
    </script>
</div>

</div>

</body>
</html>