<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
   body { background-color: antiquewhite ;

   }
    .bruh{
        align-content: center;
        font-family: "Roboto Light",serif;

    }
    .deezNutz{
        font-family: "Roboto Light",serif;
        align-content: center;
    }
    .chickenParm{
        font-family: "Roboto Light",serif;
        align-content: center;
        font-size: smaller;
    }
</style>
<body>

<h1 class="deezNutz"> Directions for this page</h1>
<h2 class="bruh"> Search bar</h2>
<p class="chickenParm"> Use the search bar to search the webiste in a new child window. Anyhting you enter in the search bar will be specificlly locate that entry for our movietalk website. Since our website is a sub domain, it is not as popular as the main domain so you may get results specifically for NightHawkCodingSociety.com. If this search function is too difficult to use, please refer down to the links bellow in order to more accurately search our website.</p>
<img src="images/searchbar.png" alt="search bar">
<h2 class="bruh"> Iframe and Links</h2>
<p class="chickenParm"> The links you click on bellow will specifically take you to our pages and the result will be printed on this mini screen you are viewing on. If you would like to open a new tab instead of viewing the result on a mini screen, you can double click the link and press "open in new tab".  </p>
<img src="images/iframe.png" alt="iframe links">
</body>
</html>