<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Search Bar</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <style>
        .search_style{
            padding-top: 10%;
        }
    </style>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <form role="search" id="form" class="search_style">
        <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
        <button>
            <svg viewBox="0 0 1024 1024"><path class="path1"></path></svg>
        </button>
    </form>
    <script>
        const f = document.getElementById('form');
        const q = document.getElementById('query');
        const google = 'https://www.google.com/search?q=site%3A+';
        const site = 'movietalk.nighthawkcodingsociety.com';


        function submitted(event) {
            event.preventDefault();
            const url = google + site + '+' + q.value;
            const win = window.open(url, '_blank');
            win.focus();
        }

        f.addEventListener('submit', submitted);
    </script>

    <!---  https://stackoverflow.com/questions/10028934/how-to-show-google-search-results-embedded-in-my-website --->

<br><br>
<h3 style="color: white;">Click the file icon on the left to view FRQs</h3>
<center><iframe frameborder="0" width="95%" height="600px" src=function onsubmit="submitted"></iframe></center>
</div>

</body>

</html>

<!---
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script language="javascript" type="text/javascript">
function showDiv(){
document.getElementById('popDiv').style.display='block';
document.getElementById('popIframe').style.display='block';
document.getElementById('bg').style.display='block';
document.getElementById('popIframe').src='b.html';
}
</script>
</head>
<body>
<div id="popDiv" class="mydiv" style="display:none;">This is a test
<div id="bg" class="bg" style="display:none;"></div>
<a href="javascript:showDiv()">Click here</a>
<iframe id='popIframe' class='popIframe' frameborder='0' ></iframe>
</body>
</html>
--->
