<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>
<body><div layout:fragment="content" th:remove="tag">

    <h1>Query Database</h1>
    <table>
        <tr>
            <th>Period</th>
            <th>Class Name</th>
            <th>Room</th>
        </tr>
        <tr th:each="class: ${schedule_query}">
            <td th:text="${class.period}"></td>
            <td th:text="${class.name}"></td>
            <td th:text="${class.room}"></td>
        </tr>
    </table>

    <form method="POST">
        <label for="period">Period: </label>
        <input type="text" id="period" name="period">
        <label for="name">Class Name: </label>
        <input type="text" id="name" name="name">
        <label for="room">Room: </label>
        <input type="text" id="room" name="room">
        <input type="submit" value="Submit">
    </form>

</div></body>

</html>